
app.Obsidian/database/Tables/Usuario/@Pablo Setrakian.md
app.Obsidian/database/Tables/Usuario/@Pablo Setrakian.md
app.Obsidian/database/Tables/Usuario/@Pablo Setrakian.md
estudios/UEX/Curso2/Asignaturas/MDP/ProyectoFinal2/Issues/TaskList.md
estudios/UEX/Curso2/Asignaturas/MDP/ProyectoFinal2/Issues/TaskList.md
estudios/UEX/Curso2/Asignaturas/MDP/ProyectoFinal2/Metodos/Metodos.md
estudios/UEX/Curso2/Asignaturas/MDP/ProyectoFinal2/Metodos/Metodos.md
estudios/UEX/Curso2/Asignaturas/MDP/ProyectoFinal2/Metodos/Metodos.md
estudios/UEX/Curso2/Asignaturas/MDP/ProyectoFinal2/Metodos/Metodos.md